nav {
    padding: 0 3em;
    z-index: 2;
    a {
        padding: 1.65em;
        font-size: 14px;
        &.site-title {
            text-transform: uppercase;
            order: 10;
            margin-right: auto;
        }
        &:not(.site-title):hover {
            text-decoration: line-through;
        }
        @include resize (tablet) {
            padding: 1.3em;
            font-size: 10px;
        }
    }
}