@font-face {
    font-family: "Circularpro book";
    src: url("https://www.marcomarino.design/fonts/CircularPro-Book.otf") format("opentype");
}

body {
    background-color: #212121;
    font-family: 'Circularpro book', sans-serif;
    color: #fff;
}